
<main>
    <div class="container">
      <!-- Big picture -->
      <img src="assets/LogInImage.jpg" alt="Big Picture" class="big-picture">
  
      <!-- Homepage content -->
      <h2>Welcome to Our Angular Project!</h2>
      <p>This is the homepage content of our Angular project. Feel free to customize it to fit your needs.</p>
      <h2>Welcome to Our Angular Project!</h2>
      <p>This is the homepage content of our Angular project. Feel free to customize it to fit your needs.</p>
      
      <!-- Placeholder content -->
    </div>
  </main>