<main class="container mx-auto my-8">
  <section class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="flex flex-col justify-center items-center text-black">
          <h2 class="text-3xl font-semibold mb-4">Explore the Great Outdoors</h2>
          <p class="text-gray-700 mb-6">Get ready for your next adventure with our wide range of camping gear
              rentals.</p>
          <button routerLink="/rental" routerLinkActive="active"  class="bg-red-500 text-white px-6 py-3 rounded-full hover:bg-red-600 transition duration-300">View Rentals</button>
      </div>
      <div>
        <img src="assets/rockwall.webp">
      </div>
  </section>

  <section class="mt-12">
      <h2 class="text-2xl font-semibold mb-4">Why Choose Us?</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="bg-red-200 rounded-lg shadow-md p-6">
              <h3 class="text-xl font-semibold mb-2">Quality Gear</h3>
              <p>Our camping gear is top-of-the-line, ensuring a comfortable and safe outdoor experience.</p>
          </div>
          <div class="bg-red-200 rounded-lg shadow-md p-6">
              <h3 class="text-xl font-semibold mb-2">Affordable Prices</h3>
              <p>We offer competitive rental rates so you can enjoy nature without breaking the bank.</p>
          </div>
          <div class="bg-red-200 rounded-lg shadow-md p-6">
              <h3 class="text-xl font-semibold mb-2">Convenient Booking</h3>
              <p>With our easy online booking system, reserving your camping gear is just a few clicks away.</p>
          </div>
      </div>
  </section>
</main>
