<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold text-center mb-8">Wishlist</h1>

  <div *ngIf="wishlist.length === 0" class="text-center" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    Your wishlist is empty
    <img src="assets/EmptyCart.jpg" alt="emptyCart" class="mt-4">
  </div>

  <div *ngFor="let item of wishlist; let i = index" class="border border-black bg-white rounded-lg overflow-hidden shadow-lg mb-4">
    <div class="p-6">
      <h2 class="text-xl font-bold mb-2">{{ item.itemName }}</h2>
      <p class="text-gray-700 mb-4">Price: ${{ item.price }}</p>
      <div class="flex justify-between items-center">
        <button (click)="removeFromWishlist(i)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          Remove
        </button>
        <button (click)="addToCart(i)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
