<h1> Spring 2024 Trips:</h1>
<div class = "card-container">

    <div class="card" name = "BluffClimbing">
    <div class="content">
      <div class="back">
        <div class="back-content">

          <strong>Climbing at the Bluffs</strong>

        </div>
      </div>
      <div class="front">
        
        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
            <p class="explanation">Outdoor climbing at the Bluffs!! Located right here in Clarksville, it is the perfect 
                opportunity to get introduced to Outdoor climbing. And IT'S FREE, register before 5pm the day before we meet!
            </p>

          <div class="description">
            <div class="title">
              <p class="title">
                <button>Register</button>
            </p>
            </div>
            <p class="card-footer">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card" name = "GravepointCaving">
    <div class="content">
      <div class="back">
        <div class="back-content">
          
          <strong>Indian Gravepoint Caving</strong>
        </div>
      </div>
      <div class="front">
        
        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
            <p class="explanation">We are going to Indian GravePoint Cave, just South of Nashville, to do some caving!
                This is a great opportunity to get an introduction into spelunking, at the low rate of $25. We will 
                provide transportation, gear, and support throughout the trip!
            </p>
          <div class="description">
           
            <p class="card-footer">
              <button>Register</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card" name = "RedRiverFloat">
    <div class="content">
      <div class="back">
        <div class="back-content">
          
          <strong>Red River Float</strong>
        </div>
      </div>
      <div class="front">
        
        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
          <p class="explanation">Join us at the gorgeous Red River, located 15 minutes from campus in Adams, TN! 
            We will provide instructions, equipment, and boats to ensure you are properly prepared! Allow your 
            stress from this semester to melt away as you float down the beautiful river. All of this for only $25, Register now!
        </p>
          <div class="description">
            <div class="title">
              
            </div>
            <p class="card-footer">
                <button>Register</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" name = FosterFalls>
    <div class="content">
      <div class="back">
        <div class="back-content">
          
          <strong>Foster Falls Rock Climbing</strong>
        </div>
      </div>
      <div class="front">
        
        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
          <p class="explanation">
            Wanting to take the next step in your rock climbing journey? Join us at Foster Falls 
            for a great evening of challenging and fun routes! $65 for this amazing adventure is worth
            every penny!
        </p>
          <div class="description">
            <div class="title">
              
            </div>
            <p class="card-footer">
                <button>Register</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

