<div class="contact-container">
    <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
        <div class="contact-left-title">
            <h2>Get in touch</h2>
            <hr>
        </div>
        <input type="hidden" name="access_key" value="d5527b7d-a100-4e99-98a0-58c1fba85dba">
        <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
        <input type="text" name="email" placeholder="Your Email" class="contact-inputs" required>
        <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
        <button id="submit-btn" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700" type="submit">Submit</button>
    </form>
    
</div>
