
<div class= "card-container">



  <div class="card TentCard" name = "Tents">
  <div class="content">
    <div class="back">
      <div class="back-content">
        <img src = "assets/Tents.png" alt = "tents img">
        <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">

        
        </svg>
        <strong>Tents</strong>
      </div>
    </div>
    <div class="front">
      
      <div class="img">
        <div class="circle">
        </div> 
        <div class="circle" id="right"> 
        </div>
        <div class="circle" id="bottom">
        </div>
      </div>

      <div class="front-content">
        <small class="badge">$30</small>
        <div class="description">
          <div class="title">
            <p class="title">
              <strong>Return in 7 days</strong>
            </p>
            <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
          </div>
          <p class="card-footer">
            <button>Add To Cart</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card ShoesCard" name = "shoes">
    <div class="content">
      <div class="back">
        <div class="back-content">
          <img src = "assets/HikingBoots.jpg" alt = "hiking boots">
          <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">
  
         
  
          </svg>
          <strong>Hiking Shoes</strong>
        </div>
      </div>
      <div class="front">
        
        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
          <small class="badge">$30</small>
          <div class="description">
            <div class="title">
              <p class="title">
                <strong>Return in 7 days</strong>
              </p>
              <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
            </div>
            <p class="card-footer">
              <button>Add To Cart</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card backpackCard" name = "backpack">
    <div class="content">
      <div class="back">
        <div class="back-content">
          <div class="back-header"> <!-- Header for the back of the card -->
            <h2>Backpacks</h2>
          </div>
          
          <img src = "assets/Backpack.jpg" alt = "backpack img">
          <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">
          
   
          </svg>
          <strong>Backpacks</strong>
        </div>
      </div>
      <div class="front">
        
        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
          <small class="badge">$30</small>
          <div class="description">
            <div class="title">
              <p class="title">
                <strong>Return in 7 days</strong>
              </p>
              <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
            </div>
            <p class="card-footer">
              <button>Add To Cart</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card StovesCard" name = "Stoves">
    <div class="content">
      <div class="back">
        <div class="back-content">
          <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">
          
   
          </svg>
          <strong>Stoves</strong>
        </div>
      </div>
      <div class="front">
        
        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
          <small class="badge">$30</small>
          <div class="description">
            <div class="title">
              <p class="title">
                <strong>Return in 7 days</strong>
              </p>
              <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
            </div>
            <p class="card-footer">
              <button>Add To Cart</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card SleepingBag" name = "SleepingBag">
    <div class="content">
      <div class="back">
        <div class="back-content">
          <img src = "assets/SleepingBag.jpg" alt = "sleeping bag">
          <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">
          
   
          </svg>
          <strong>Sleeping Bags</strong>
        </div>
      </div>
      <div class="front">
        
        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
          <small class="badge">$30</small>
          <div class="description">
            <div class="title">
              <p class="title">
                <strong>Return in 7 days</strong>
              </p>
              <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
            </div>
            <p class="card-footer">
              <button>Add To Cart</button>
            </p> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card HammockCard" name = "Hammock">
    <div class="content">
      <div class="back">
        <div class="back-content">
          <img src="assets/Hammock.jpg" alt = "Hammock Image">
          <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">
          
   
          </svg>
          <strong>Hammocks</strong>
        </div>
      </div>
      <div class="front">
        
        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
          <small class="badge">$30</small>
          <div class="description">
            <div class="title">
              <p class="title">
                <strong>Return in 7 days</strong>
              </p>
              <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
            </div>
            <p class="card-footer">
              <button>Add To Cart</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card TarpCard" name = "Tarp">
    <div class="content">
      <div class="back">
        
        <div class="back-content">
          
          <svg stroke="#ffffff" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" height="50px" width="50px" fill="#ffffff">
          
   
          </svg>
          <strong>Tarps</strong>
        </div>
      </div>
      <div class="front">

        
        <div class="img">
          <div class="circle">
          </div>
          <div class="circle" id="right">
          </div>
          <div class="circle" id="bottom">
          </div>
        </div>
  
        <div class="front-content">
          <small class="badge">$30</small>
          <div class="description">
            <div class="title">
              <p class="title">
                <strong>Return in 7 days</strong> 
              </p>
              <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
            </div>
            <p class="card-footer">
              <button>Add To Cart</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>