<h1>Rentals</h1>
<h2>Camping Gear</h2>

<div class="item" name = backpack>
  <img src="assets/Backpack.jpg" alt="Item 1">
  <div class="description">
      <p>Backpacking Pack</p>
      <p>Weekend: $10</p>
      <p>Week: $15</p>

      <button class="btn">Add to Cart</button>  
    </div>
</div>

<div class="item" name = tent>
  <img src="assets/Tents.png" alt="Item 2">
  <div class="description">
      <p>2 Person Tent</p>
      <p>Weekend: $10</p>
      <p>Week: $15</p>
      <button class="btn">Add to Cart</button>  
  </div>
</div>

<div class="item" name = tarp>
  <img src="item3.jpg" alt="Item 3">
  <div class="description">
      <p>10X10 Tarp</p>
      <p>Weekend: $6</p>
      <p>Week: $8</p>
      <button class="btn">Add to Cart</button>  
  </div>
</div>

<div class="item" name = stove>
  <img src="item4.jpg" alt="Item 4">
  <div class="description">
      <p>Camping Stove</p>
      <p>Weekend: $8</p>
      <p>Week: $12</p>
      <button class="btn">Add to Cart</button>  
  </div>
</div>

<div class="item" name = sleepingBag>
  <img src="assets/SleepingBag.jpg" alt="Item 5">
  <div class="description">
      <p>Sleeping Bag</p>
      <p>Weekend: $9</p>
      <p>Week: $13</p>
      <button class="btn">Add to Cart</button>  
  </div>
</div>

<h3>Boats/Paddling Gear</h3>

<div class="item" name = canoe>
  <img src="item6.jpg" alt="Item 6">
  <div class="description">
      <p>Canoe</p>
      <p>Weekend: $30</p>
      <p>Week: $50</p>
      <button class="btn">Add to Cart</button>  
  </div>
</div>

<div class="item" name = paddleboard>
  <img src="item7.jpg" alt="Item 7">
  <div class="description">
      <p>Inflateable Paddleboard</p>
      <p>Weekend: $20</p>
      <p>Week: $40<p>
      <button class="btn">Add to Cart</button>  
  </div>
</div>

<div class="item" name = kayak>
  <img src="item8.jpg" alt="Item 8">
  <div class="description">
      <p>Inflatable Kayak</p>
      <p>Weekend: $20</p>
      <p>Week: $40<p>
      <button class="btn">Add to Cart</button>  
  </div>
</div>

<div class="item" name = lifeJacket>
  <img src="item9.jpg" alt="Item 9">
  <div class="description">
      <p>PFD life jacket</p>
      <p>Weekend: $7</p>
      <p>Week: $10<p>
      <button class="btn">Add to Cart</button>  
  </div>
</div>

<h3>Climbing Gear</h3>
<div class="item" name = climbingShoes>
  <img src="item10.jpg" alt="Item 10">
  <div class="description">
      <p>Climbing Shoes</p>
      <p>Weekend: $7</p>
      <p>Week: $10<p>
      <button class="btn">Add to Cart</button>  
  </div>
</div>

<div class="item" name = climbingHelmet>
  <img src="item11.jpg" alt="Item 11">
  <div class="description">
      <p>Climbing Helmet</p>
      <p>Weekend: $7</p>
      <p>Week: $10<p>
      <button class="btn">Add to Cart</button>  
  </div>
</div>







