<div class="container mx-auto py-8">
  <div class="max-w-lg mx-auto bg-white rounded-lg shadow-md">
    <div class="p-6">
      <h2 class="text-3xl font-semibold mb-6">User Profile</h2>
      <div class="mb-8">
        <h3 class="text-xl font-semibold mb-2">First Name: {{ firstName }}</h3>
        <h3 class="text-xl font-semibold mb-2">Last Name: {{ lastName }}</h3>
        <hr class="border-gray-300">
      </div>
      <div class="mb-8">
        <h3 class="text-xl font-semibold mb-4">Current Rentals</h3>
        <ul>
          <ng-container *ngFor="let rental of rentals">
            <li class="flex justify-between items-center mb-4">
              <span class="text-lg">{{ rental.rentalItem }}</span> <!-- Display rental item name -->
              <span class="text-red-500">Due Date: {{ rental.endDate | date }}</span>
            </li>
          </ng-container>
        </ul>
        <hr class="border-gray-300">
      </div>
    </div>
  </div>
</div>