.container {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.upload-form {
  margin-bottom: 30px;
}

.file-upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 10px;
}

.upload-input {
  display: none;
}

.upload-button {
  cursor: pointer;
}

.note {
  font-size: 1rem;
  margin-top: 20px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  margin: 10px;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

.gallery img.visible {
  display: block;
}
