h1{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

label{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 350px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.gallery img {
    display: none;
    margin-left: 200px;
    padding-bottom: 50px;
  }
  
  .gallery img.visible {
    display: block;
  }
  .gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }


