h1{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

label{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 350px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery img {
  margin: 10px; /* Add margin on all sides */
  max-width: 800px; /* Limit maximum width */
  max-height: 600px; /* Limit maximum height */
  object-fit: cover; /* Crop the image to fit */
  margin-bottom: 50px;
}

.gallery img.visible {
  display: block;
}


