
<div class="upload-section">
  <h1>Submit your Gov's Outdoors Pictures!</h1>
  <input type="file" accept="image/*" (change)="uploadImage($event)" id="fileInput">
  <button id="uploadButton" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">Upload</button>
  <h1>Pictures will be added into gallery</h1>
</div>

<div class="gallery">
  <img *ngFor="let image of images; let i = index" [src]="image.src" [alt]="image.alt" [class.visible]="image.visible" [class.hidden]="!image.visible">
</div>
